

{erl_opts,[
           {i, "include"}
           %% no_debug_info,
          , debug_info
           %% , warnings_as_errors, 	     
          , warn_obsolete_guard
           %% , warn_unused_import % supress  proper inc warnings 
          , clint
          , warn_shadow_vars
          , warn_export_vars           
          ]}.


{sub_dirs, ["src"]}.

{deps, [
%    {nano_trace, ".*", {git, "https://github.com/sheyll/nano_trace.git", {branch, "feature/rebar-migration"}}}
   ]}.

{cover_enabled, true}.

{asn1_opts, []}.

