%%-*- mode: erlang -*-

{require_otp_vsn, "R16B*|17"}.

{erl_opts,[
           {i, "include"}
           %% no_debug_info,
          , debug_info
           %% , warnings_as_errors, 	     
          , warn_obsolete_guard
           %% , warn_unused_import % supress  proper inc warnings 
          , clint
          , warn_shadow_vars
          , warn_export_vars           
          ]}.


{sub_dirs, ["src"]}.

{deps, [ ]}.

{asn1_opts, [per, {outdir, "protocols"}, asn1config, verbose]}.

